<link  rel="stylesheet" type="text/css" href="/style1.css">
<h1> SEARCH RESULT:</h1>
<div class="abd">

<img src="<%=data.data[0].images.downsized_large.url%>">
 
</div>

<a href="/"> SEARCH AGAIN</a>