body {
    background-color: #D7D6D6;
    background-size: cover;
    font-family: sans-serif;
    text-align: center;

}table{ 
	background-color: white;
}

 th { background-color: #EADCD6;
 	color: #166bd3;
 }
 td {
 	cursor: pointer;
 }
 tr:hover {
 	background-color: #f26722;
 	 transform:scale(1.1);
 }
 tr {
 	transition:1s;
 }
 h1{
 	color: #9A112C;
 }