body {
    background-image: url("http://i.imgur.com/GoY5UJq.gif");
    background-size: cover;
    font-family: sans-serif;
    text-align: center;

}a {
     color: white;
     text-decoration: none;
    font-size: 40px;

 }

h1{ color:white;
// text-align: center;
    font-size: 50px;
